Cython
numpy
scipy
transformers
sentence-transformers
scikit-image
scikit-learn
Pillow
tqdm
torchmetrics
tensorboard
hydra-core
seaborn
matplotlib
wget
pytorch_lightning
protobuf
requests
Pillow
wget
pydensecrf @ git+https://github.com/lucasb-eyer/pydensecrf.git
clip @ git+https://github.com/openai/CLIP.git
torchmetrics
tensorboard
hydra-core
pytorch-lightning
seaborn
scikit-learn
